#skydive-background {
  background-image: url(../img/skydive.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

#topblock {
  background-color: rgba(0, 199, 244, 1);
  /*display: inline-block;*/
  width: 100%;
  height: 100px;
  left: 0;
  position: fixed;
}

#navbar {
  width: 10%;
  margin-top: 300px;
  display:block;
}

#aboutjumbo {
  margin-bottom: 10%;
  padding-bottom: 100px;
  background-color: rgba(128, 128, 128, 0);
  color: rgba(255,255,255,1);
}

#pad {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
  border: solid 1px black;
  background-color: rgba(85, 89, 93, 0.8);
  font-family: "Kavoon";
}

#jasonpicabout {
  transform: rotate(90deg);
  height: 300px;
  width: 400px;
  margin-top: 40px;
  display: inline-block;
  border-radius: 50%;
  border: solid black 2px;

}

#jasonpic {
  transform: rotate(90deg);
  height: 200px;
  width: 300px;
  display: inline-block;
  float: left;
}



#magic {
  text-align: center;
}

.inline {
  text-align: justify;
  list-style: circle;
}

.blockbackground {
width: 100%;
height: 100%;
position: fixed;
z-index: -1;
background-image: url(../img/background.png);
}

.centeralign {
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: rgba(30, 116, 255, 0.3);
  color: white;
}

.jasonfont {
  font-family: 'Kavoon'
}

li {
  font-family: 'BioRhyme';
  font-weight: 400;
  text-shadow: lightgrey 1px 2px 4px;
  font-size: 16px;
}

p {
  font-family: 'BioRhyme';
  font-weight: 400;
  text-shadow: lightgrey 1px 1px 2px;
  font-size: 16px;
}

h3 , h2, h4, h5 {
  font-family:'Ultra';
}

#h3index {
  font-family: 'Rock Salt'
}
